:root {
  --manrope-font: "Manrope", sans-serif;
  --figtree-font: "Figtree", sans-serif;
  --black: #0c0c0c;
  --white: #f8f8f8;
  --grey: #707070;
  --grey-light: #f5f5f5;
  --white-blur: rgba(248, 248, 248, 0.5);
  --dark-blur: rgba(40, 40, 40, 0.5);
  --red-border: 2px solid red;
  --grey-border: 1px solid rgb(214, 214, 214);
  --box-shadow: 0 3px 7px rgba(170, 170, 170, 0.4);
  --width-1080px: min(97%, 1080px);
  --width-800px: min(97%, 800px);
  --fifteen-px: 13px;
  --sixteen-px: 16px;
  --twentyone-px: 21px;
  --sixty-px: 60px;
  --fifty-px: 50px;
  --two-rem: 27px;
  --three-rem: 32px;
  --four-rem: 70px;
  --transition-ani: 200ms ease-out;
}
html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--white);
  font-family: var(--manrope-font);
}
h1,
h2,
h3,
h4 {
  font-family: var(--figtree-font);
  text-wrap: balance;
  line-height: 1.2;
}
a {
  cursor: pointer;
  text-decoration: none;
}
p,
a {
  letter-spacing: -5%;
  text-wrap: balance;
  line-height: 1.5;
  font-family: var(--manrope-font);
}
li {
  list-style: none;
}
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  z-index: 10;
  animation: slideUp 0.5s ease forwards;
}
.favi-img {
  border-radius: 50%;
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9;
  background: var(--black);
  backdrop-filter: invert(1) blur(6px);
  -webkit-backdrop-filter: invert(1) blur(6px);
  mix-blend-mode: difference;
  transition: width 0.4s ease, height 0.4s ease; /* smooth size changes */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  overflow: hidden; /* hide text when not expanded */
}

.cursor-circle .cursor-text {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* keep text on one line */
  pointer-events: none;
}

.cursor-circle.expand {
  width: auto; /* allow expanding */
  padding: 0 15px; /* gives space around text */
  height: 30px; /* taller circle for text */
  border-radius: 20px; /* keep rounded ends when expanded */
}

.cursor-circle.expand .cursor-text {
  opacity: 1;
  font-size: var(--fifteen-px);
  color: var(--white);
  font-weight: 800;
}

.navbar__container {
  position: fixed;
  z-index: 8;
  width: min(50%, 600px);
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background: var(--white-blur); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur to content behind */
  border: var(--grey-border);
  padding: 0.7rem;
  border-radius: 3rem;
}

.navbar__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.navbar__logo img {
  width: 2.4rem;
  border-radius: 50%;
}
.navbar__logo p {
  font-size: var(--sixteen-px);
  font-weight: 700;
  color: var(--black);
}
.navbar__container :where(ul) {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 1rem;
  align-items: center;
}
.navbar__links li {
  padding: 0.25rem 0.6rem;
}
.navbar__links li:nth-child(3) {
  background: var(--white);
  border: var(--grey-border);
  border-radius: var(--sixteen-px);
  box-shadow: var(--box-shadow);
}
.navlinks__cont {
  width: 100%;
}
.navbar__links {
  font-size: calc(var(--sixteen-px) - 0.1rem);
  font-weight: 600;
}
.navbar__links a {
  text-decoration: none;
  color: var(--black);
  transition: var(--transition-ani);
}
.navbar__links a:hover {
  color: var(--grey);
}
.hamburger {
  display: none;
}
.bottom-blur {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  z-index: 9999;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  /* Optional: fade the blur smoothly to transparent at the bottom */
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to top,
    rgb(255, 6, 6) 0%,
    transparent 100%
  );
}

.home__cont {
  background-origin: padding-box;
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  position: relative;
}
.home__content {
  width: 100%;
  padding: 10rem 3rem 7rem 3rem;
  display: grid;
  gap: 2rem;
  text-align: center;
}
.home__accent-txt {
  font-family: var(--manrope-font);
  background: var(--secondary-black);
  padding: 0.5rem 0.8rem;
  border-radius: 32px;
  font-size: var(--fifteen-px);
  font-weight: 800;
  width: max-content;
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.status-pulse-complete {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(24, 203, 24);
  animation: status-pulse-complete 4s linear infinite;
}

@keyframes status-pulse-complete {
  0% {
    box-shadow: 0 0 0 0 rgb(24, 203, 24, 0.7), 0 0 0 0 rgb(24, 203, 24, 0.7);
  }

  40% {
    box-shadow: 0 0 0 10px rgb(255, 165, 0, 0), 0 0 0 0 rgb(24, 203, 24, 0.7);
  }

  80% {
    box-shadow: 0 0 0 10px rgb(255, 165, 0, 0), 0 0 0 0 rgb(0, 128, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(255, 165, 0, 0), 0 0 0 0 rgb(255, 165, 0, 0);
  }
}

.home__left {
  padding: 1rem 0;
}
.home__header {
  font-size: clamp(48px, 5vw, 70px);
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2rem;
  line-height: 1;
}
.span--grey {
  color: var(--grey);
}
.home__sub-header {
  font-size: var(--sixteen-px);
  color: var(--black);
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.home__cta-btn {
  background: linear-gradient(to bottom, #ffffff33, #00000011), var(--black);
  box-shadow: inset 0 2px 5px rgba(170, 170, 170),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.4); /* Bubble shadow */

  padding: 0.6rem;
  border-radius: 32px;
  border: none;
  text-decoration: none;
  width: max-content;
  margin: auto;
  margin-bottom: 1rem;
  transition: var(--transition-ani);
  display: flex;
}
.home__cta-btn:hover {
  box-shadow: none;
}
.home__cta-btn button {
  background: transparent;
  font-size: var(--sixteen-px);
  font-weight: 600;
  color: var(--white);
  border: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  outline: none;
}
.home__cta-btn img {
  width: 2rem;
  border-radius: 50%;
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
}
body .slider-wrapper:hover body .cursor-circle {
  width: 50px;
  height: 50px;
}

/* Fade overlays */
.slider-wrapper__fade-left,
.slider-wrapper__fade-right {
  position: absolute;
  top: 0;
  width: 30px; /* adjust how wide the fade is */
  height: 100%;
  z-index: 1;
  pointer-events: none; /* so clicks pass through */
}

.slider-wrapper__fade-left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.slider-wrapper__fade-right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.slider {
  overflow: hidden;
  width: 100%;
  max-width: 100vw; /* 🚨 limits the container to viewport width */
  height: 300px;
  position: relative; /* creates a positioning context */
}

.slider-track {
  display: inline-flex;
  will-change: transform;
  position: absolute; /* 🚨 key: prevents the track from affecting outside layout */
  left: 0;
  gap: 2rem;
  top: 0;
  height: 100%;
}
.slide {
  flex: 0 0 auto;
  aspect-ratio: 7/5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.satisfied-clients {
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
  width: 100%;
}
.clients-con {
  border-right: var(--grey-border);
  border-left: var(--grey-border);
  width: var(--width-1080px);
  margin: auto;
  padding: 2rem;
}
.clients-img {
  display: flex;
  align-items: center;
}
.clients-img div {
  width: 3rem;
  border: 5px solid var(--white);
  overflow: hidden;
  height: 3rem;
  border-radius: 50%;
}
.clients-img div:not(:nth-child(1)) {
  margin-left: -1rem;
}
.clients-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.satisfied-clients a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  gap: 1rem;
  align-items: center;
  width: max-content;
}
.clients-num .icon {
  font-size: 1rem;
}
.hold {
  white-space: nowrap;
}
.clients-num p {
  font-weight: 600;
  font-size: 1rem;
  color: var(--grey);
}
.project__cont {
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  padding: 7rem 2rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: 1rem;
}
.projects .con {
  aspect-ratio: 7/5;
  border-radius: 1rem;
  position: relative;
  border: var(--grey-border);
  overflow: hidden;
  transition: var(--transition-ani);
}
.projects .con::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  transition: var(--transition-ani);
  height: 18%;
}
.projects .con:nth-child(1)::after {
  background: linear-gradient(#00000000, #ff599e);
}
.projects .con:nth-child(2)::after {
  background: linear-gradient(#00000000, #2563eb);
}
.projects .con:nth-child(3)::after {
  background: linear-gradient(#00000000, #4a4a4a);
}
.projects .con:nth-child(4)::after {
  background: linear-gradient(#00000000, #1549f3);
}
.projects .con:nth-child(5)::after {
  background: linear-gradient(#00000000, #1495ff);
}
.project-details {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
  transition: var(--transition-ani);
}
.project-type {
  background: linear-gradient(to bottom, #ffffff33, #00000011), var(--black);
  box-shadow: inset 0 2px 5px rgba(170, 170, 170),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2); /* Bubble shadow */

  padding: 0.4rem 1rem;
  border-radius: 32px;
  border: none;
  font-weight: 600;
  font-size: var(--fifteen-px);
  width: max-content;
  transition: var(--transition-ani);
  color: var(--white);
}
.project-name {
  display: flex;
  justify-content: space-between;
}
.project-name p:nth-child(2) {
  font-size: var(--sixteen-px);
}
.project-name p {
  display: flex;
  align-items: center;
  border: none;
  width: max-content;
  font-weight: 800;
  font-size: var(--sixteen-px);
  transition: var(--transition-ani);
  color: var(--white);
}
.projects a:hover img {
  scale: 1.05;
}
.projects a:hover .project-details {
  opacity: 0;
}
.projects .con:hover::after {
  display: none;
}
.project__cont h2 {
  font-size: var(--sixty-px);
  margin-bottom: 4rem;
  font-weight: 700;
  color: var(--black);
}
.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: var(--transition-ani);
}
.projects__view-all {
  width: max-content;
  margin: auto;
  gap: 0.5rem;
  transition: var(--transition-ani);
  margin-top: 4rem;
  position: relative;
}
.projects__view-all a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.projects__view-all:hover::before {
  width: 100%;
}
.projects__view-all::before {
  content: "";
  position: absolute;
  top: 115%;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--black);
  transition: var(--transition-ani);
}
.single-review--wrap {
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}
.single-review {
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  text-align: center;
  padding: 7rem 1rem;
}
.single-review blockquote {
  margin-bottom: 2rem;
  font-size: var(--two-rem);
  font-weight: 600;
  color: var(--black);
  text-wrap: balance;
}
.single-review .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.single-review h4 {
  color: var(--black);
  font-size: var(--sixteen-px);
}
.single-review p {
  color: var(--grey);
  font-weight: 600;
  font-size: var(--fifteen-px);
}
.single-review img {
  width: 100%;
}
.single-review__profile {
  width: max-content;
  margin: auto;
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services {
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  padding: 7rem 2rem;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 3rem;
}
.services--left h2 {
  margin-bottom: 3rem;
  margin-top: 5rem;
  color: var(--black);
  font-size: clamp(38px, 5vw, 60px);
}
.services--left .tech-stack p {
  font-size: var(--black);
  margin-bottom: 2rem;
  font-weight: 600;
}
.tech-stack .stack--con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 60px), 50px));
  gap: 1rem;
  width: var(--width-800px);
}
.tech-stack .stack {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 0.8rem;
  border: var(--grey-border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: var(--transition-ani);
}
.tech-stack .stack:hover p {
  opacity: 1;
}
.tech-stack .stack P {
  background: var(--black);
  padding: 0.1rem 0.4rem;
  border-radius: 20px;
  font-size: var(--fifteen-px);
  color: var(--white);
  position: absolute;
  pointer-events: none;
  top: -50%;
  opacity: 0;
  visibility: none;
  transition: var(--transition-ani);
}
.tech-stack .icon {
  font-size: 30px;
}
.services--right li {
  font-size: clamp(10px, 6vw, 21px);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.services--right li .icon {
  color: var(--white);
  font-size: 22px;
}
.services--right li div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ffffff33, #00000011), var(--black);
  box-shadow: inset 0 2px 5px rgba(170, 170, 170),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2), var(--box-shadow); /* Bubble shadow */
}
.about--wrap {
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}
.about {
  padding: 7rem 2rem;
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
}
.about h2 {
  font-size: clamp(48px, 5vw, 70px);
  color: var(--black);
  margin-bottom: 3rem;
  font-weight: 800;
}
.about--con {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 3rem;
}
.about--left {
  background: var(--grey-light);
  border-radius: 20px;
}
.about--left img {
  border-radius: 10px;
  width: 100%;
}
.about--left .profile h4 {
  font-size: var(--sixteen-px);
  color: var(--black);
}
.about--left .wrap {
  height: 30rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.about--left .wrap a {
  text-decoration: none;
}
.socials--con__about {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.socials--con__about {
  display: flex;
  gap: 1rem;
}
.socials--con__about .link {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background: var(--dark-blur);
  backdrop-filter: blur(10px);
  border: var(--grey-border);
  display: flex;
  justify-content: center;
  align-self: center;
  transition: var(--transition-ani);
}
.socials--con__about .link:hover,
.socials--con__about .bread-crum:hover {
  transform: translateY(-10px);
}
.socials--con__about .icon {
  font-size: var(--fifteen-px);
  display: flex;
  justify-content: center;
  align-self: center;
  color: var(--white);
}
.socials--con__about .bread-crum {
  transition: var(--transition-ani);
  background: var(--dark-blur);
  backdrop-filter: blur(10px);
  display: flex;
  border: var(--grey-border);
  justify-content: center;
  align-self: center;
  padding: 0.1rem 0.5rem;
  height: 30px;
  border-radius: 30px;
}
.socials--con__about .bread-crum span {
  font-size: var(--fifteen-px);
  font-weight: 700;
  display: flex;
  color: var(--white);
  justify-content: center;
  align-self: center;
}
.about--left .profile {
  padding: 1rem;
}
.about--left .profile p {
  font-size: var(--sixteen-px);
  color: var(--grey);
}
.about--right p {
  font-size: 19px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--black);
  text-wrap: wrap;
  margin-bottom: 2rem;
}
.about--right img {
  width: 100px;
  height: 100px;
}
.testimonial {
  width: var(--width-1080px);
  margin: auto;
  padding: 7rem 2rem;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
}
.testimonial h2 {
  font-size: var(--sixty-px);
  color: var(--black);
  margin-bottom: 3rem;
}
.testimonial--con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 2rem;
}
.testimony {
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: var(--grey-border);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}
.testimony p {
  font-size: 16px;
  color: var(--black);
  letter-spacing: -5%;
  text-wrap: wrap;
  font-weight: 600;
}
.testimony img {
  width: 50px;
  height: 50px;
}
.testimonial--profile {
  gap: 0.6rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.testimonial--profile .img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.testimonial--profile h4 {
  color: var(--black);
  font-size: var(--sixteen-px);
}
.testimonial--profile p {
  color: var(--grey);
  font-weight: 600;
  font-size: var(--fifteen-px);
}
.testimonial--profile img {
  width: 100%;
  object-fit: cover;
}
.take--action__con {
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}
.take--action {
  width: var(--width-1080px);
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 3rem;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  padding: 7rem 2rem;
}
.action__work {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.faqs-section .faqs-container__top h2 {
  font-size: var(--sixty-px);
  color: var(--black);
  margin-bottom: 3rem;
}

.faqs-section .faqs-container__lower .accordion {
  width: 100%;
  margin: 20px auto;
}
.faqs-section .faqs-container__lower .accordion-item {
  border-radius: 20px;
  border: var(--grey-border);
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.faqs-section .faqs-container__lower .accordion-header {
  background-color: var(--white);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--sixteen-px);
  color: var(--black);
  font-weight: 800;
  position: relative;
}
.faqs-section .faqs-container__lower .accordion-header .close-btn {
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  background: var(--white);
  border: var(--grey-border);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
}
.faqs-section .faqs-container__lower .accordion-header .close-btn .icon {
  font-size: 20px;
  color: var(--black);
  transition: 200ms ease-in-out;
}
.faqs-section .faqs-container__lower .accordion-header.active .close-btn {
  background: var(--black);
}
.faqs-section .faqs-container__lower .accordion-header.active .close-btn .icon {
  transform: rotate(45deg);
  color: white;
}
.faqs-section .faqs-container__lower .accordion-content {
  max-height: 0;
  margin: auto;
  width: min(93%, 800px);
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faqs-section .faqs-container__lower .accordion-content p {
  border-top: var(--grey-border);
  font-size: var(--fifteen-px);
  color: var(--black);
  font-weight: 700;
  text-wrap: wrap;
  padding: 1.5rem 0;
  margin: 0;
}
.book--call {
  border-radius: 20px;
  border: var(--grey-border);
  padding: 2rem;
  box-shadow: var(--box-shadow);
}
.book--call img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.book--call h3 {
  font-size: 30px;
  color: var(--grey);
  margin-bottom: 1rem;
}
.book--call span {
  color: var(--black);
  text-wrap: balance;
}
.book--call p {
  color: var(--black);
  margin-bottom: 1rem;
  font-weight: 600;
  text-wrap: wrap;
  font-size: var(--sixteen-px);
}

.book--call button {
  background: linear-gradient(to bottom, #ffffff33, #00000011), var(--black);
  box-shadow: inset 0 2px 5px rgba(170, 170, 170),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.4); /* Bubble shadow */

  padding: 0.6rem 1rem;
  border-radius: 32px;
  border: none;
  text-decoration: none;
  transition: var(--transition-ani);
  color: var(--white);
  font-weight: 600;
  font-size: var(--sixteen-px);
}
footer {
  background: var(--black);
  padding: 2rem;
  overflow: hidden;
}
.footer--con {
  width: var(--width-1080px);
  margin: auto;
  position: relative;
}
.footer--con .top {
  padding: 3rem 0 1rem 0;
  border-bottom: 1px solid var(--white-blur);
}
.footer--con .top h2 {
  font-size: var(--sixty-px);
  color: var(--white);
  margin-bottom: 2rem;
}
.footer--con .footer--socials {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.footer--socials p {
  color: var(--grey);
  font-size: var(--fifteen-px);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer--socials a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: var(--sixteen-px);
}
.footer--con .top .span {
  color: var(--grey);
}
.socials--con {
  display: flex;
  gap: 1rem;
}
.socials--con .link {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-self: center;
  transition: var(--transition-ani);
}
.socials--con .link:hover,
.socials--con .bread-crum:hover {
  transform: translateY(-10px);
}
.socials--con .icon {
  font-size: var(--fifteen-px);
  display: flex;
  justify-content: center;
  align-self: center;
  color: var(--black);
}
.socials--con .bread-crum {
  transition: var(--transition-ani);
  background: var(--white);
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0.1rem 0.5rem;
  height: 30px;
  border-radius: 30px;
}
.socials--con .bread-crum span {
  font-size: var(--fifteen-px);
  font-weight: 700;
  display: flex;
  color: var(--black);
  justify-content: center;
  align-self: center;
}
.footer--con .bottom {
  padding: 2rem 0;
  height: 200px;
  position: relative;
}
.footer--con .bottom p {
  font-size: var(--sixteen-px);
  color: var(--grey);
  display: flex;
  justify-content: right;
}
.footer--con .bottom h1 {
  font-size: clamp(30px, 17vw, 500px);
  color: var(--white);
  bottom: -100px;
  right: 0;
  position: absolute;
}
.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background: var(--white-blur); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur to content behind */
  border: var(--grey-border);
  color: white;
  border-radius: 50px;
  padding: 0.8rem;
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 99;
}

.bottom-nav a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  background: linear-gradient(to bottom, #ffffff33, #00000011), var(--black);
  box-shadow: inset 0 2px 5px rgba(170, 170, 170),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.4); /* Bubble shadow */
  border-radius: 50%;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: var(--transition-ani);
}
.bottom-nav span {
  font-size: var(--fifteen-px);
  display: none;
  color: var(--white);
  white-space: nowrap;
}

.bottom-nav:hover a {
  color: var(--white);
  width: 120px;
  border-radius: 20px;
}

.bottom-nav:hover span {
  display: block;
}
.bottom-nav.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
.work--hero__wrap {
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}
.work--hero {
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  padding: 10rem 2rem 5rem 2rem;
  width: var(--width-1080px);
  margin: auto;
  text-align: center;
}
.work--hero h1 {
  font-size: var(--sixty-px);
  color: var(--black);
  margin-bottom: 1rem;
}
.work--hero p {
  font-size: var(--sixteen-px);
  color: var(--black);
  font-weight: 600;
}

.work__clients {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 2rem;
}

.work__clients div:not(:nth-child(1)) {
  margin-left: -1rem;
}
.work__clients .clients-num {
  height: 50px;
  overflow: hidden;
}
.work__clients img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work__clients a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  gap: 1rem;
  align-items: center;
}
.work__clients .icon {
  font-size: var(--sixteen-px);
}
.work__clients p {
  font-weight: 800;
  font-size: var(--fifteen-px);
  color: var(--grey);
}
.project--hero {
  width: var(--width-1080px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
  padding: 10rem 3rem 5rem 3rem;
  /* text-align: center; */
}
.project--hero__con {
  width: var(--width-800px);
  margin: auto;
}
.project--hero h2 {
  font-size: var(--fifty-px);
  color: var(--black);
  margin-bottom: 2rem;
  font-weight: 600;
}
.project--hero img {
  width: 100%;
  border: var(--grey-border);
  border-radius: 20px;
  margin-bottom: 3rem;
}
.project--about {
  width: var(--width-800px);
  margin: auto;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
}
.project--timeline {
  display: flex;
  gap: 2rem;
  font-size: var(--fifteen-px);
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2rem;
}
.project--timeline span {
  color: var(--grey);
}
.project--problem {
  margin-bottom: 3rem;
  color: var(--black);
  font-size: var(--sixteen-px);
  line-height: 1.5;
  font-weight: 400;
  text-wrap: wrap;
}
.scope--work {
  margin-bottom: 5rem;
}
.project--hero__con h3 {
  font-size: var(--twentyone-px);
  margin-bottom: 1rem;
  color: var(--black);
}
.project--hero__con h4 {
  font-size: var(--sixteen-px);
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--black);
}
.project--process {
  margin-bottom: 5rem;
}
.project--process li {
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: var(--sixteen-px);
}
.project-obstacles {
  margin-bottom: 5rem;
}
.obstacle {
  margin-bottom: 2rem;
}

.obstacle p {
  font-size: var(--sixteen-px);
  margin-top: 1rem;
  text-wrap: wrap;
  font-weight: 400;
}
.scope--work ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.scope--work li {
  border: var(--grey-border);
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  color: var(--black);
  font-size: var(--fifteen-px);
  font-weight: 600;
}
.view-live {
  width: max-content;
  gap: 0.5rem;
  transition: var(--transition-ani);
  margin-bottom: 3rem;
  display: flex;
  position: relative;
}
.view-live a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.view-live:hover::before {
  width: 100%;
}
.view-live::before {
  content: "";
  position: absolute;
  top: 115%;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--black);
  transition: var(--transition-ani);
}
.project--results ul {
  margin-bottom: 3rem;
}
.project--results li {
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: var(--sixteen-px);
}
.more--projects {
  width: var(--width-1080px);
  margin: auto;
  padding: 7rem 2rem;
  border-left: var(--grey-border);
  border-right: var(--grey-border);
}
.more--projects h2 {
  font-size: var(--sixty-px);
  margin-bottom: 3rem;
  color: var(--black);
}
.more--projects .left {
  border: var(--grey-border);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.more--projects .left p{
  font-size: var(--sixteen-px);
  line-height: 1.5;
  color: var(--black);
  font-weight: 600;
}
.more--projects__con .icon-con {
  background: var(--grey);
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more--projects__con .icon-con .icon {
  font-size: var(--three-rem);
  color: var(--white);
}
.more--projects__con .right {
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: var(--grey-border);
}
.more--projects__con .right .cont .project-details {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: var(--transition-ani);
}
.more--projects__con .right:hover .project-details{
opacity: 0;
}
.more--projects__con .pulse-project::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 18%;
  background: linear-gradient(#00000000, #4a4a4a);
}
.more--projects__con .project-name p{
  font-size: var(--sixteen-px);
}
.more--projects .right img {
  width: 100%;
  height: 100%;
}
.more--projects__con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 2rem;
}

@media (max-width: 1000px) {
  .take--action {
    grid-template-columns: 1fr;
  }
  .services--right li {
    font-size: 17px;
  }
  .about--right p {
    font-size: 17px;
  }
  .footer--con .bottom {
    height: 150px;
  }
  .footer--con .bottom h1 {
    bottom: -90px;
    right: 0;
  }
}
@media (max-width: 768px) {
  :root {
    --sixteen-px: 16px;
    --two-rem: 20px;
    --three-rem: 28px;
    --four-rem: 48px;
    --sixty-px: 35px;
    --fifty-px: 30px;
    --transition-ani: 300ms ease-out;
  }
  .cursor-circle {
    display: none;
  }
  .project--hero {
    padding: 10rem 1rem 5rem 1rem;
  }
  .footer--con .bottom {
    height: 100px;
  }
  .footer--con .bottom h1 {
    bottom: -80px;
    left: 0;
    right: none;
  }
  .testimonial {
    padding: 7rem 1rem;
  }
  .footer--con .footer--socials {
    flex-direction: column;
  }
  .footer--con .bottom p {
    justify-content: left;
  }
  .footer--con .bottom h1 {
    font-size: clamp(20px, 16vw, 300px);
  }
  .take--action {
    padding: 7rem 1rem;
  }
  .project__cont {
    padding: 7rem 1rem;
  }
  .navbar__links li:nth-child(3) {
    width: 100%;
    padding: 0.6rem;
    text-align: center;
  }
  .home__header {
    font-size: var(--four-rem);
  }
  .home__sub-header {
    font-size: var(--sixteen-px);
  }
  .navlinks__cont {
    position: absolute;
    width: min(100%, 400px);
    background: var(--white); /* Semi-transparent background */
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    top: 110%;
    left: 50%;
    height: 0;
    overflow: hidden;
    transition: var(--transition-ani);
    transform: translateX(-50%);
  }
  .hamburger {
    width: 26.5px;
    height: 26.5px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    right: 1rem;
    top: 60%;
    transform: translateY(-60%);
    align-items: center;
    flex-wrap: nowrap;
  }
  .services--left h2 {
    font-size: var(--sixty-px);
    margin-top: 0;
  }
  .services {
    grid-template-columns: 1fr;
    padding: 7rem 1rem;
  }
  .about h2 {
    font-size: var(--sixty-px);
  }
  .about--con {
    grid-template-columns: 1fr;
  }
  .about {
    padding: 7rem 1rem;
  }

  .dot {
    width: 6px;
    height: 6px;
    background-color: var(--grey);
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  /* Bouncing animation for the dots */
  .dot1 {
    animation: bounce 0.8s 0.2s infinite alternate;
  }

  .dot2 {
    animation: bounce 0.8s 0.4s infinite alternate;
  }

  .dot3 {
    animation: bounce 0.8s 0.6s infinite alternate;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .services--right li {
    font-size: var(--twentyone-px);
  }

  /* Stop animation when the hamburger is open */
  .hamburger.open .dot1,
  .hamburger.open .dot2,
  .hamburger.open .dot3 {
    animation: none;
  }

  /* Hamburger to X animation */
  .hamburger.open .dot1 {
    transform: rotate(45deg) translateY(-40%);
    position: absolute;
    border-radius: 2px;
    width: 20px;
    height: 3px;
    top: 40%;
    left: 2.5px;
  }

  .hamburger.open .dot2 {
    opacity: 0;
  }

  .hamburger.open .dot3 {
    height: 3px;
    transform: rotate(-45deg) translateY(-40%);
    position: absolute;
    border-radius: 2px;
    width: 20px;
    top: 40%;
    right: 2.5px;
  }
  .home__header {
    font-size: var(--four-rem);
  }

  .mobile-menu.open {
    display: block;
    padding: 2rem 1rem;
    height: 180px;
    border: var(--grey-border);
  }
  .navbar__container :where(ul) {
    flex-direction: column;
    align-items: start;
  }
  .clients-con {
    padding: 2rem 1rem;
  }
  .more--projects .left {
    order: 2;
  }
  .more--projects__con .right {
    order: 1;
  }
}
@media (max-width: 480px) {
  .work__clients a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work__clients .clients-num {
    transform: translateX(9px);
  }
  .home__right {
    display: none;
  }
  .footer--con .bottom {
    height: 80px;
  }
  .footer--con .bottom h1 {
    bottom: -50px;
  }
  .home__content {
    padding: 10rem 1rem 5rem 1rem;
    text-align: left;
  }
  .home__accent-txt {
    margin: 0 0 2rem 0;
  }
  .home__cta-btn {
    margin: 0 0 1rem 0;
  }
  .projects {
    gap: 3rem;
  }
  :root {
    --four-rem: 40px;
    --sixty-px: 30px;
    --transition-ani: 300ms ease-out;
  }
}
