*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ff9933;
  --deep-blue: #4287f5;
  --accent-deep-blue: #68a2ff;
  --grey-text: #d7dfe2;
  --deeper-grey-text: #dfe0dd;
  --white-background: #ffffff;
  --black-text: #333439;
  --red-border: 2px solid red;
  --font-family: "Roboto", sans-serif;
}

.parent-navbar {
  font-family: var(--font-family);
}

.first-navbar {
  background-color: var(--grey-text);
  padding: 10px;
  font-weight: 100;
  color: var(--black-text);
  font-size: clamp(14px, 4vw, 15px);
}

.first-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: min(95%, 1300px);
}

.welcome-text p {
  margin-block: 2.5px;
}

.social-links {
  padding: 5px;
}

.social-links a {
  border-radius: 50%;
  padding: 5px;
  transition: 200ms;
  background-color: var(--deeper-grey-text);
}

.social-links a:nth-child(1) {
  padding: 5px 10px;
}

.sl-icon i {
  color: var(--black-text);
}

.sl-icon:hover {
  background: var(--white-background);
}

.sl-icon:hover i {
  color: var(--orange);
}

.second-navbar {
  padding: 20px 10px;
  font-size: clamp(13px, 4vw, 14px);
  width: min(95%, 1300px);
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.navbar-logo {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.hidden-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.navbar-logo p,
.nav-links .shift-text p {
  margin-bottom: 0;
}

.navbar-logo img {
  transform: translateY(-7px) translateX(-17px);
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.navbar-logo p {
  font-size: 25px;
  font-weight: 800;
}

.navbar-logo span {
  color: var(--orange);
}

.navlink-container {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.nav-links {
  display: flex;
  align-content: center;
}

.nav-links span,
iconify-icon {
  font-size: 40px;
  color: var(--orange);
}

.date,
.location,
.phone-number {
  font-weight: 600;
}

.closed-date,
.post-code,
.email {
  font-weight: 300;
}

.shift-text {
  margin-left: 10px;
}

.third-navbar {
  padding: 20px 10px;
  background: var(--deep-blue);
}

.container_whole {
  width: min(97%, 1280px);
  margin: auto;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
}

.main_container {
  display: flex;
  align-items: center;
}

.main_container :is(.dropdown_home, .dropdown_contacts) {
  padding: 7px;
  font-weight: 600;
}

.main_container :is(.dropdown_home, .dropdown_contacts, .dropdown_about, .dropdown_blog, .dropdown_pages) {
  margin-right: 3px;
  transition: 300ms ease-in-out;
  color: var(--white-background);
}

.main_container :is(.dropdown_home, .dropdown_contacts, .dropdown_about, .dropdown_blog, .dropdown_pages):hover {
  color: var(--orange);
}

.dropdown button {
  color: var(--white-background);
  font-weight: 600;
}

.searchbar {
  float: left;
  width: 100%;
  border-radius: 5px;
  background: var(--accent-deep-blue);
}

.search_section .searchbar input {
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  width: 93%;
  color: var(--deeper-grey-text);
}

.search_section .searchbar input::placeholder {
  font-weight: 600;
  color: var(--deeper-grey-text);

}

.search_section .searchbar span {
  font-size: 25px;
  color: var(--deeper-grey-text);
  transform: translateY(5px);
  transition: 300ms;
}

.search_section .searchbar span:hover {
  color: var(--orange);
}
/*      HOME STYLING        */
.homepage{
  border: var(--red-border);
  height: 500px;
}
